body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    max-width: 900px;
    margin: auto;
    font-family: 'Raleway', sans-serif;    
}
.about{
    width: 100%;
}